@use "variables" as *;
@use "mixins" as mx;



@include mx.mq("tab") {


  .overView {
    .flex-control {
      width: 100%;
      flex-direction: row-reverse !important;
      justify-content: space-between;
      gap: $space-md;
    }
    &__main {
      width: 80%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
    }

    &__sub {
      justify-content: flex-end;
    }
  }

  .campain {
    &__header {
      width: 100%;

      ul {
        justify-content: space-around;
      }
    }
    &__lineUps {
      flex-wrap: nowrap;
    }
  }

  .setItems {
    padding: 7% 7%;

    &__item {
      padding: 5% 7%;
    }

    .purchase {
      width: 100%;
      max-width: 500px;
      justify-content: space-around;
    }
  }

  .otherProducts {
    .flex-control {
      flex-direction: row !important;
    }

    &__product {
      width: 30%;
    }
    .container {
      width: 90%;
      margin: 0 auto;
    }
    .flex-control {
      &:nth-child(1) {
        justify-content: space-around;
      }
      &:nth-child(2) {
        justify-content: space-between;
      }
    }
  }
}

@include mx.mq("laptop") {


  .flex-text {
    display: flex;
    flex-direction: row;
    gap: 0;
  }

  .section-header {
    .flex-text {
      gap: $space-lg;
      align-items: baseline;
    }
  }

  .firstView {
    .copy__main {
      img{
        height: 5vh;
      }
      .flex-text {
        gap: $font-strong !important;
      }
    }
  }

  .overView {
    &__main {
      width: 35%;
    }
  }

  .campain {
    &__header {
      ul {
        width: 100%;
        margin-left: 0;
        justify-content: space-between;
        li {
          width: 23% !important;
          font-size: $font-md !important;
        }
      }
    }

    &__lineUps {
      justify-content: space-between;
      align-items: center;
      width: 90%;
      margin: 0 auto;
    }
  }

  .setItems {
    .setItems__item {
      width: 100%;

      .flex-control {
        flex-direction: row-reverse !important;
        justify-content: space-between;
      }

      &__main {
        padding-left: $space-md;
        padding-bottom: $space-sm;
      }

      &__sub {
        padding-left: $space-md;
        align-items: flex-start;
        width: 50%;
      }

      &__img {
        width: 40%;
        height: 100%;

        img {
          width: 100% !important;
          max-height: 40vh;
          object-fit: contain;
        }
      }
    }
  }

  .concept {
    flex-direction: row-reverse !important;
    align-items: center;
    height: 80vh;

    img {
      height: 100%;
      width: 60%;
      object-fit: cover;
    }

    &__text {
      height: 60%;

      p {
        font-size: $font-lg;
      }
    }
  }

  .otherProducts {
    .container {
      display: flex;
      width: 100%;
      gap:20px;

      .flex-control{
      gap:20px;

        &:nth-child(1){
          width: 40%;
        }
        &:nth-child(2){
          width: 60%;
        }
      }
    }

    &__product {
      padding: 0 10px;
      width: auto;

    a{
      justify-content: flex-start;
      width: 100%;
      height: 300px;
      gap: $space-xs;

      img{
        height: 200px;
      }
    }
    }
  }

  .about {

    .flex-control {
      flex-direction: row;

      img {
        width: 60%;
        object-fit: contain;
      }
      &__text {
        height: 100%;

      }
    }
  }
}

