@use "variables" as *;

.priceCard {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  align-items: flex-end;
  justify-content: space-between;
  align-self: stretch;

  &__info {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    ul {
      @extend .font-sm;
    }

    h2 {
      @extend .font-lg;
      height: $font-xl;
      display: flex;
      align-items: flex-end;
      margin-top: $space-xs
    }
  }

  .arrow {
    @extend .font-md;
    display: flex;
    height: $font-xl;
    align-items: center;
  }

  &__specialPrice {


    p {
      @extend .font-sans;
      color: $cWhite;
      padding: 10px;
      background-color: $cRed;
    }

    h2 {
      @extend .font-xl;
      height: $font-xl;
      line-height: 1;
      display: flex;
      align-items: center;
      font-weight: 600;
      margin-top: $space-xs;
    }
  }
}

.purchase-btn {
  display: inline-flex;
  border: none;
  cursor: pointer;
  background-color: $cDarkGray;
  color: $cWhite;

  @extend .font-lg;

  align-self: flex-start;
  margin: 0 auto;
  padding: 15px 30px;
  justify-content: center;
}
