@use "sass:map";

$breakpoints: (
  "spS": 320px,
  "spM": 376px,
  "tab": 768px,
  "laptop": 1280px,
  "retina": 2560px 
);

@mixin mq($key) {
  @media (min-width: map.get($breakpoints, $key)) {
    @content;
  }
}
