* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

body {
  font-family: "Noto Serif JP", serif;
  font-size: 14px;
  font-weight: 400;
}

button {
  font-family: "Noto Serif JP", serif;
}

.font-sans, .campain__header ul, .campain__lineUps, .priceCard__specialPrice p {
  font-family: "Helvetica", "Arial", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Meiryo", sans-serif;
}

.title-font, .firstView .copy__main, .concept__text h1, .about__text h1 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (min-width: 320px) {
  .title-font, .firstView .copy__main, .concept__text h1, .about__text h1 {
    font-size: 25.6px;
  }
}
@media (min-width: 768px) {
  .title-font, .firstView .copy__main, .concept__text h1, .about__text h1 {
    font-size: 40px;
  }
}
@media (min-width: 1280px) {
  .title-font, .firstView .copy__main, .concept__text h1, .about__text h1 {
    font-size: 48px;
  }
}

.subTitle-font, .firstView .copy__sub h2, .overView .section-header h3, .section-header h3 {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (min-width: 320px) {
  .subTitle-font, .firstView .copy__sub h2, .overView .section-header h3, .section-header h3 {
    font-size: 17.6px;
  }
}
@media (min-width: 768px) {
  .subTitle-font, .firstView .copy__sub h2, .overView .section-header h3, .section-header h3 {
    font-size: 22px;
  }
}
@media (min-width: 1280px) {
  .subTitle-font, .firstView .copy__sub h2, .overView .section-header h3, .section-header h3 {
    font-size: 26.4px;
  }
}

.font-xl, .overView__sub__copy h2, .setItems__item__title, .priceCard__specialPrice h2, .section-header h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (min-width: 320px) {
  .font-xl, .overView__sub__copy h2, .setItems__item__title, .priceCard__specialPrice h2, .section-header h2 {
    font-size: 25.6px;
  }
}
@media (min-width: 768px) {
  .font-xl, .overView__sub__copy h2, .setItems__item__title, .priceCard__specialPrice h2, .section-header h2 {
    font-size: 38.4px;
  }
}
@media (min-width: 1280px) {
  .font-xl, .overView__sub__copy h2, .setItems__item__title, .priceCard__specialPrice h2, .section-header h2 {
    font-size: 44.8px;
  }
}

.font-lg, .overView__main h1, .overView__main p, .setItems__item__main h2, .priceCard__info h2, .purchase-btn {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (min-width: 320px) {
  .font-lg, .overView__main h1, .overView__main p, .setItems__item__main h2, .priceCard__info h2, .purchase-btn {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .font-lg, .overView__main h1, .overView__main p, .setItems__item__main h2, .priceCard__info h2, .purchase-btn {
    font-size: 24px;
  }
}
@media (min-width: 1280px) {
  .font-lg, .overView__main h1, .overView__main p, .setItems__item__main h2, .priceCard__info h2, .purchase-btn {
    font-size: 28px;
  }
}

.font-md, .overView__sub__text, .campain__lineUps li p, .setItems__item__sub p, .priceCard .arrow {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (min-width: 320px) {
  .font-md, .overView__sub__text, .campain__lineUps li p, .setItems__item__sub p, .priceCard .arrow {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .font-md, .overView__sub__text, .campain__lineUps li p, .setItems__item__sub p, .priceCard .arrow {
    font-size: 16.8px;
  }
}
@media (min-width: 1280px) {
  .font-md, .overView__sub__text, .campain__lineUps li p, .setItems__item__sub p, .priceCard .arrow {
    font-size: 19.6px;
  }
}

.font-sm, .overView__sub__attention, .priceCard__info ul {
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  color: #919190;
}
@media (min-width: 768px) {
  .font-sm, .overView__sub__attention, .priceCard__info ul {
    font-size: 16.8px;
  }
}
@media (min-width: 1280px) {
  .font-sm, .overView__sub__attention, .priceCard__info ul {
    font-size: 19.6px;
  }
}

section {
  width: 100%;
  padding: 60px 30px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  section {
    padding: 7% 7%;
  }
}

.section-header {
  width: 100%;
  border-bottom: #000000 solid 1px;
  margin-bottom: 30px;
  padding-left: 3%;
}
.section-header h2 {
  font-weight: 400;
}
@media (min-width: 768px) {
  .section-header {
    padding-left: 7%;
  }
}

.flex-control {
  display: flex;
  flex-direction: column;
}

.grid-control {
  display: grid;
}

.priceCard {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  align-items: flex-end;
  justify-content: space-between;
  align-self: stretch;
}
.priceCard__info {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}
.priceCard__info h2 {
  height: 32px;
  display: flex;
  align-items: flex-end;
  margin-top: 5px;
}
.priceCard .arrow {
  display: flex;
  height: 32px;
  align-items: center;
}
.priceCard__specialPrice p {
  color: #ffffff;
  padding: 10px;
  background-color: #ff3131;
}
.priceCard__specialPrice h2 {
  height: 32px;
  line-height: 1;
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-top: 5px;
}

.purchase-btn {
  display: inline-flex;
  border: none;
  cursor: pointer;
  background-color: #797979;
  color: #ffffff;
  align-self: flex-start;
  margin: 0 auto;
  padding: 15px 30px;
  justify-content: center;
}

.firstView {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
.firstView .copy {
  top: 50%;
  left: 30px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 56px;
}
.firstView .copy__main img {
  width: 250px;
  height: auto;
}
.firstView .copy__sub h2 {
  font-weight: 400;
}

.overView {
  display: flex;
  flex-direction: column;
  background-color: #f8f7f2;
}
.overView__main {
  width: 100%;
  text-align: center;
}
.overView__main h1 {
  font-weight: 700;
}
.overView__main img {
  width: 100%;
}
.overView__sub {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.overView__sub__copy h2 {
  text-align: center;
}
.campain .section-header {
  margin-bottom: 18px;
}
.campain__header {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.campain__header ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  gap: 5px;
}
.campain__header ul li {
  padding: 5px 20px;
  border-radius: 20px;
  background-color: #919190;
  text-align: center;
  color: #ffffff;
}
.campain__header ul li:nth-child(odd) {
  width: 180px;
}
.campain__lineUps {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 18px 5%;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.campain__lineUps li {
  width: 30vw;
  max-width: 300px;
  text-align: center;
}
.campain__lineUps li img {
  width: 100%;
}
.setItems {
  padding: 0px 30px 40px;
  display: flex;
  flex-direction: column;
  gap: 56px;
}
.setItems__item {
  padding: 30px 18px;
  border: solid 1px #000000;
}
.setItems__item__title {
  font-weight: 600;
  margin-bottom: 30px;
}
.setItems__item .flex-control {
  width: 100%;
  gap: 18px;
}
.setItems__item__main {
  width: 100%;
}
.setItems__item__main h2 {
  margin-bottom: 18px;
}
.setItems__item__img {
  height: 30vh;
  width: 100%;
}
.setItems__item__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.setItems__item__sub {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 56px;
}
.setItems__item__sub .purchase {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 30px;
}

.concept {
  height: 100vh;
  padding: 0;
  background-color: #f8f7f2;
}
.concept img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}
.concept__text {
  height: 50vh;
  margin: 0 auto;
  padding: 30px 30px 40px;
  display: flex;
  flex-direction: column;
  color: #919190;
  text-align: center;
  justify-content: space-between;
}
.concept__text h1 {
  font-weight: 400;
  margin-bottom: 18px;
}

.otherProducts {
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.otherProducts .container {
  align-items: center;
}
.otherProducts .container .flex-control {
  align-items: center;
}
.otherProducts__product {
  text-align: center;
  padding: 30px 0;
}
.otherProducts__product img {
  width: 100%;
}

.about {
  height: 100vh;
  background-color: #f8f7f2;
}
.about img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}
.about__text {
  margin: 0 auto;
  padding: 30px 30px 0;
  display: flex;
  flex-direction: column;
  color: #919190;
  text-align: center;
  height: 40vh;
  justify-content: space-around;
}
.about__text h1 {
  font-weight: 400;
  margin-bottom: 18px;
}

@media (min-width: 320px) {
  h1 {
    border-bottom: solid 3px red;
  }
}
@media (min-width: 376px) {
  h1 {
    border-bottom: solid 3px yellow;
  }
}
@media (min-width: 768px) {
  h1 {
    border-bottom: solid 3px aqua !important;
  }
  .overView .flex-control {
    width: 100%;
    flex-direction: row-reverse !important;
    justify-content: space-between;
    gap: 30px;
  }
  .overView__main {
    width: 80%;
  }
  .overView__sub {
    justify-content: flex-end;
  }
  .campain__header {
    width: 100%;
  }
  .campain__header ul {
    justify-content: space-around;
  }
  .campain__lineUps {
    flex-wrap: nowrap;
  }
  .setItems {
    padding: 7% 7%;
  }
  .setItems__item {
    padding: 5% 7%;
  }
  .setItems .purchase {
    width: 80%;
    justify-content: space-around;
  }
  .otherProducts .flex-control {
    flex-direction: row !important;
  }
  .otherProducts__product {
    width: 30%;
  }
  .otherProducts .container {
    width: 90%;
    margin: 0 auto;
  }
  .otherProducts .flex-control:nth-child(1) {
    justify-content: space-around;
  }
  .otherProducts .flex-control:nth-child(2) {
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  h1 {
    border-bottom: solid 3px green !important;
  }
  .flex-text {
    display: flex;
    flex-direction: row;
    gap: 0;
  }
  .section-header .flex-text {
    gap: 56px;
    align-items: baseline;
  }
  .firstView .copy__main .flex-text {
    gap: 40px !important;
  }
  .overView__main {
    width: 35%;
  }
  .campain__header ul {
    width: 70%;
    margin-left: 0;
    gap: 5px;
  }
  .campain__header ul li {
    width: 20% !important;
  }
  .setItems .setItems__item {
    width: 100%;
  }
  .setItems .setItems__item .flex-control {
    flex-direction: row-reverse !important;
    justify-content: space-between;
  }
  .setItems .setItems__item__main {
    padding-left: 30px;
    padding-bottom: 18px;
  }
  .setItems .setItems__item__sub {
    padding-left: 30px;
    width: 50%;
  }
  .setItems .setItems__item__img {
    width: 40%;
    height: 100%;
  }
  .setItems .setItems__item__img img {
    height: 100% !important;
    max-height: 50vh;
  }
  .concept {
    flex-direction: row-reverse !important;
    align-items: center;
    height: 80vh;
  }
  .concept img {
    height: 100%;
    width: 60%;
    object-fit: cover;
  }
  .concept__text {
    height: 60%;
  }
  .otherProducts .container {
    display: flex;
  }
  .otherProducts__product {
    width: auto;
    padding: 30px;
  }
}
@media (min-width: 2560px) {
  h1 {
    border-bottom: solid 3px purple !important;
  }
}/*# sourceMappingURL=main.css.map */