* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

body {
  font-family: "Noto Serif JP", serif;
  font-size: 14px;
  font-weight: 400;
}

button {
  font-family: "Noto Serif JP", serif;
}

.font-sans,
.campain__header ul,
.priceCard__specialPrice p {
  font-family: "Helvetica", "Arial", "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", "Meiryo", sans-serif;
}

.title-font,
.firstView .copy__main,
.concept__text h1,
.about__text h1 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (min-width: 320px) {
  .title-font,
  .firstView .copy__main,
  .concept__text h1,
  .about__text h1 {
    font-size: 25.6px;
  }
}
@media (min-width: 768px) {
  .title-font,
  .firstView .copy__main,
  .concept__text h1,
  .about__text h1 {
    font-size: 40px;
  }
}
@media (min-width: 1280px) {
  .title-font,
  .firstView .copy__main,
  .concept__text h1,
  .about__text h1 {
    font-size: 48px;
  }
}

.subTitle-font,
.firstView .copy__sub h2,
.overView .section-header h3,
.section-header h3 {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (min-width: 320px) {
  .subTitle-font,
  .firstView .copy__sub h2,
  .overView .section-header h3,
  .section-header h3 {
    font-size: 17.6px;
  }
}
@media (min-width: 768px) {
  .subTitle-font,
  .firstView .copy__sub h2,
  .overView .section-header h3,
  .section-header h3 {
    font-size: 22px;
  }
}
@media (min-width: 1280px) {
  .subTitle-font,
  .firstView .copy__sub h2,
  .overView .section-header h3,
  .section-header h3 {
    font-size: 26.4px;
  }
}

.font-xl,
.overView__sub__copy h2,
.setItems__item__title,
.priceCard__specialPrice h2,
.section-header h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (min-width: 320px) {
  .font-xl,
  .overView__sub__copy h2,
  .setItems__item__title,
  .priceCard__specialPrice h2,
  .section-header h2 {
    font-size: 25.6px;
  }
}
@media (min-width: 768px) {
  .font-xl,
  .overView__sub__copy h2,
  .setItems__item__title,
  .priceCard__specialPrice h2,
  .section-header h2 {
    font-size: 38.4px;
  }
}
@media (min-width: 1280px) {
  .font-xl,
  .overView__sub__copy h2,
  .setItems__item__title,
  .priceCard__specialPrice h2,
  .section-header h2 {
    font-size: 44.8px;
  }
}

.font-lg,
.setItems__item__main h2,
.otherProducts__product a h3,
.priceCard__info h2,
.purchase-btn,
.campain__pouch h2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (min-width: 320px) {
  .font-lg,
  .setItems__item__main h2,
  .otherProducts__product a h3,
  .priceCard__info h2,
  .purchase-btn,
  .campain__pouch h2 {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .font-lg,
  .setItems__item__main h2,
  .otherProducts__product a h3,
  .priceCard__info h2,
  .purchase-btn,
  .campain__pouch h2 {
    font-size: 24px;
  }
}
@media (min-width: 1280px) {
  .font-lg,
  .setItems__item__main h2,
  .otherProducts__product a h3,
  .priceCard__info h2,
  .purchase-btn,
  .campain__pouch h2 {
    font-size: 26px;
  }
}

.font-md,
.overView__sub__text,
.campain__lineUps,
.campain__lineUps li p,
.setItems__item__sub p,
.about__text p,
footer,
.priceCard .arrow {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (min-width: 320px) {
  .font-md,
  .overView__sub__text,
  .campain__lineUps,
  .campain__lineUps li p,
  .setItems__item__sub p,
  .about__text p,
  footer,
  .priceCard .arrow {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .font-md,
  .overView__sub__text,
  .campain__lineUps,
  .campain__lineUps li p,
  .setItems__item__sub p,
  .about__text p,
  footer,
  .priceCard .arrow {
    font-size: 16.8px;
  }
}
@media (min-width: 1280px) {
  .font-md,
  .overView__sub__text,
  .campain__lineUps,
  .campain__lineUps li p,
  .setItems__item__sub p,
  .about__text p,
  footer,
  .priceCard .arrow {
    font-size: 19.6px;
  }
}

.font-sm,
.overView__main p,
.overView__sub__attention,
.priceCard__info ul {
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  color: #919190;
}
@media (min-width: 768px) {
  .font-sm,
  .overView__main p,
  .overView__sub__attention,
  .priceCard__info ul {
    font-size: 16.8px;
  }
}
@media (min-width: 1280px) {
  .font-sm,
  .overView__main p,
  .overView__sub__attention,
  .priceCard__info ul {
    font-size: 19.6px;
  }
}

section {
  width: 100%;
  padding: 60px 30px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  section {
    padding: 5% 7%;
  }
}

.section-header {
  width: 100%;
  border-bottom: #000000 solid 1px;
  margin-bottom: 30px;
  padding-left: 3%;
}
.section-header h2 {
  font-weight: 400;
}
@media (min-width: 768px) {
  .section-header {
    width: 100%;
    padding-left: 5%;
  }
}

.flex-control {
  display: flex;
  flex-direction: column;
}

.grid-control {
  display: grid;
}

.priceCard {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  align-items: flex-end;
  justify-content: space-between;
  align-self: stretch;
}
.priceCard__info {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}
.priceCard__info h2 {
  height: 32px;
  display: flex;
  align-items: flex-end;
  margin-top: 5px;
}
.priceCard .arrow {
  display: flex;
  height: 32px;
  align-items: center;
}
.priceCard__specialPrice p {
  color: #ffffff;
  padding: 10px;
  background-color: #ff3131;
  text-align: center;
}
.priceCard__specialPrice h2 {
  height: 32px;
  line-height: 1;
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-top: 5px;
}

.purchase-btn {
  display: inline-flex;
  border: none;
  cursor: pointer;
  background-color: #797979;
  color: #ffffff;
  align-self: flex-start;
  margin: 0 auto;
  padding: 15px 30px;
  justify-content: center;
}

.firstView {
  height: 70vh;
  min-height: 600px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
}
.firstView .copy {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.firstView .copy__main img {
  height: 5vh;
  min-height: 45px;
}
.firstView .copy__sub h2 {
  font-weight: 400;
}

.overView {
  display: flex;
  flex-direction: column;
  background-color: #f8f7f2;
}

.overView .flex-control {
  gap: 20px;
}
.overView__main {
  width: 100%;
  text-align: center;
}
.overView__main p {
  float: right;
}
.overView__main img {
  width: 100%;
}
.overView__sub {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.overView__sub__copy h2 {
  text-align: center;
}

.campain .section-header {
  margin-bottom: 18px;
}

.campain .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.campain__header {
  width: 90%;
  margin: 0 auto;
  /* margin-bottom: 30px; */
}
.campain__header ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  gap: 5px;
}
.campain__header ul li {
  padding: 5px 20px;
  border-radius: 20px;
  background-color: #919190;
  text-align: center;
  color: #ffffff;
}
.campain__header ul li:nth-child(odd) {
  width: 180px;
}
.campain__lineUps {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* gap: 18px 5%; */
  justify-content: space-around;
  align-content: center;
  align-items: center;
}
.campain__lineUps li {
  width: 30vw;
  text-align: center;
}
.campain__lineUps li img {
  width: 100%;
  padding: 10px 10px 0;
  margin-bottom: 0;
}

.campain__pouch .flex-control {
  gap: 15px;
}

.campain__pouch h2 {
  margin-top: 10px;
}

.setItems {
  padding: 0px 30px 40px;
  display: flex;
  flex-direction: column;
  gap: 56px;
}
.setItems__item {
  padding: 30px 14px;
  border: solid 1px #000000;
}
.setItems__item__title {
  font-weight: 600;
  margin-bottom: 30px;
}
.setItems__item .flex-control {
  width: 100%;
  gap: 18px;
}
.setItems__item__main {
  width: 100%;
}

.setItems__item__main h2 {
  margin-bottom: 18px;
}

.setItems__item__main h2:first-of-type {
  margin-bottom: 0;
}
.setItems__item__main h2 + h2 {
  margin-bottom: 0;
}

.setItems__item__img {
  height: 30vh;
  min-height: 300px;
  width: 100%;
}
.setItems__item__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.setItems__item__sub {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 56px;
}
.setItems__item__sub .purchase {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 30px;
  width: 100%;
}

.concept {
  height: 100vh;
  min-height: 700px;
  padding: 0;
  background-color: #f8f7f2;
}
.concept img {
  width: 100%;
  min-height: 400px;
  height: 50%;
  object-fit: cover;
}
.concept__text {
  height: 50%;
  margin: 0 auto;
  padding: 30px 15px 40px;
  display: flex;
  flex-direction: column;
  color: #919190;
  text-align: center;
  justify-content: space-between;
}
.concept__text h1 {
  font-weight: 400;
  margin-bottom: 18px;
}

.otherProducts {
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.otherProducts .container {
  width: 100%;
  align-items: center;
}
.otherProducts .container .flex-control {
  align-items: center;
  width: 100%;
}
.otherProducts__product a {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5px;
}
.otherProducts__product a img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}
.about {
  background-color: #f8f7f2;
}
.about img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}
.about__text {
  margin: 0 auto;
  padding: 40px 15px 0;
  display: flex;
  flex-direction: column;
  color: #919190;
  text-align: center;
  gap: 56px;
  justify-content: space-around;
}
.about__text h1 {
  font-weight: 400;
  margin-bottom: 18px;
}
footer {
  width: 100%;
  height: 10vh;
  min-height: 120px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f7f2;
}

@media (min-width: 768px) {
  .firstView {
    height: 100vh;
  }
  .overView .flex-control {
    width: 100%;
    flex-direction: row-reverse !important;
    justify-content: space-between;
    gap: 30px;
  }
  .overView__main {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .overView__sub {
    justify-content: flex-end;
  }

  .campain .container {
    gap: 80px;
  }
  .campain__header {
    width: 100%;
  }
  .campain__header ul {
    justify-content: space-around;
  }
  .campain__lineUps {
    flex-wrap: nowrap;
  }

  .campain__pouch .flex-control {
    flex-direction: row !important;
    justify-content: space-around;

    width: 90%;
    margin: 0 auto;
  }

  .campain__pouch .flex-control img {
    width: 40%;
    max-width: 400px;
  }

  .campain__pouch h2 {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }

  .setItems {
    padding: 7% 7%;
  }
  .setItems__item {
    padding: 5% 4%;
  }
  .setItems .purchase {
    width: 100%;
    max-width: 500px;
    justify-content: space-around;
  }

  .otherProducts {
    margin-bottom: 5%;
  }
  .otherProducts .flex-control {
    flex-direction: row !important;
  }
  .otherProducts__product {
    width: 30%;
  }
  .otherProducts .container {
    width: 90%;
    margin: 0 auto;
  }
  .otherProducts .flex-control:nth-child(1) {
    justify-content: space-around;
  }
  .otherProducts .flex-control:nth-child(2) {
    justify-content: space-between;
  }
}

@media (min-width: 1280px) {
  .flex-text {
    display: flex;
    flex-direction: row;
    gap: 0;
  }
  .section-header .flex-text {
    gap: 56px;
    align-items: baseline;
  }
  .firstView .copy__main img {
    height: 7vh;
  }
  .firstView .copy__main .flex-text {
    gap: 40px !important;
  }
  .overView__main {
    width: 35%;
  }
  .campain__header ul {
    width: 100%;
    margin-left: 0;
    justify-content: space-between;
  }
  .campain__header ul li {
    width: 23% !important;
    font-size: 14px !important;
  }
  .campain__lineUps {
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }
  .setItems .setItems__item {
    width: 100%;
  }
  .setItems .setItems__item .flex-control {
    flex-direction: row-reverse !important;
    justify-content: space-between;
    gap: 0;
  }
  .setItems .setItems__item__main {
    padding-bottom: 18px;
  }
  .setItems .setItems__item__sub {
    align-items: flex-start;
    width: 60%;
  }
  .setItems .setItems__item__img {
    width: 50%;
    height: 100%;
  }
  .setItems .setItems__item__img img {
    width: 100% !important;
    /* max-height: 40vh; */
    object-fit: contain;
  }
  .concept {
    flex-direction: row-reverse !important;
    align-items: center;
    height: 80vh;
  }
  .concept img {
    height: 100%;
    width: 60%;
    object-fit: cover;
  }
  .concept__text {
    height: 60%;
  }
  .concept__text p {
    font-size: 20px;
  }
  .otherProducts .container {
    display: flex;
    width: 100%;
    gap: 20px;
  }
  .otherProducts .container .flex-control {
    gap: 20px;
  }
  .otherProducts .container .flex-control:nth-child(1) {
    width: 40%;
  }
  .otherProducts .container .flex-control:nth-child(2) {
    width: 60%;
  }
  .otherProducts__product {
    padding: 0 10px;
    width: auto;
  }
  .otherProducts__product a {
    justify-content: flex-start;
    width: 100%;
    height: 300px;
    gap: 5px;
  }
  .otherProducts__product a img {
    height: 200px;
  }
  .about .flex-control {
    flex-direction: row;
  }
  .about .flex-control img {
    width: 60%;
    object-fit: contain;
  }
  .about .flex-control__text {
    height: 100%;
  }
} /*# sourceMappingURL=main.css.map */
